### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
.pdf
*.run.xml
*.bcf
*.blg

### Processing ###
.DS_Store
applet
application.windows32
application.windows64
out
